:root {
    --color-black: #242426;
    --color-white: #FFFFFF;
    --color-primary: #A69F3F;
    --color-bg: #F2F2F2;
    --size-2: 2rem;
    --size-3: 3rem;
    --size-4: 4rem;
    --size-6: 6rem;
}

@font-face {
    font-family: "Mazius extraItalic";
    src: url("../assets/fonts/mazius-extraitalic.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mazius italic";
    src: url("../assets/fonts/mazius-italic.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.font-highlight {
    font-family: 'Mazius extraItalic';
}

.font-highlight-italic {
    font-family: "Mazius italic";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:after,
*:before {
    box-sizing: inherit;

}

html {
    font-size: calc(100vw / 1920 * 10);
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg);
    color: var(--color-black);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    height: 100%;
    line-height: 1.1;
    text-transform: uppercase;
}

a,
button {
    color: inherit;
    cursor: pointer;
    pointer-events: auto;
}

a {
    outline: none;
    text-decoration: none;
}

button {
    background: none;
    border: none;
    font: inherit;
    outline: none;
}

ul {
    list-style: none;
}

img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.title-20 {
    font-size: 20rem;
}

.title-24 {
    font-size: 24rem;
}

.heading-2 {
    font-size: 2rem;
}

.heading-4 {
    font-size: 4rem;
}

.heading-8 {
    font-size: 8rem;
}

.flex-between {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.relative {
    position: relative;
}

.scale-hover {
    overflow: hidden;
}

.scale-hover img {
    transition: transform .3s ease-in-out;
}

.scale-hover:hover img {
    transform: scale(1.1);
}

.deco-underline::before {
    background-color: var(--color-black);
    bottom: -2rem;
    content: '';
    height: .3rem;
    position: absolute;
    width: 90%;
}

.go-top::before {
    background-image: url('../assets/images/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    content: '';
    height: 8rem;
    position: absolute;
    right: 0;
    transform: rotate(180deg);
    width: var(--size-6);
}

@media screen and (max-width: 767px) {
    html {
        font-size: calc(100vw / 600 * 10);
    }

    .title-28 {
        font-size: 8.5rem;
    }

    .title-20 {
        font-size: 8rem;
    }
}

/* Navbar */

.nav {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav.dropped {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.nav-wrapper {
    padding: 2rem 4rem;
    z-index: 100;
}

.nav-brand-wrapper {
    font-size: var(--size-4);
}

.nav-list {
    background-color: var(--color-primary);
    color: var(--color-white);
    height: 100vh;
    padding: 15rem 6rem;
    position: absolute;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
    top: 0;
    width: 100%;
    z-index: 99;
}

.nav-item {
    font-size: 10rem;
    margin-bottom: 4rem;
}

.nav-icon-wrapper {
    margin-right: var(--size-4);
}

.nav-menu {
    cursor: pointer;
    height: 3rem;
    width: 8rem;
}

.nav-menu::after {
    content: '';
    background: var(--color-black);
    bottom: 0;
    height: .2rem;
    position: absolute;
    width: 100%;
}

.nav-menu::before {
    content: '';
    background: var(--color-black);
    height: .2rem;
    position: absolute;
    top: 0;
    width: 100%;
}
/* open nav */

html.open {
    overflow: hidden;
}

html.open .nav-list {
    transform: translateX(0%);
}

@media screen and (max-width: 767px) {
    .nav-wrapper {
        padding: 2rem;
    }

    .nav-list {
        padding: 25rem 2rem;
    }

    .nav-item {
        font-size: 5rem;
    }

    .nav-highlight {
        display: none;
    }
}

/* Hero section */

.hero-image {
    height: 100vh;
    width: 100vw;
}

.hero-content {
    bottom: 0;
    padding-right: var(--size-4);
    position: absolute;
    right: 0;
    text-align: end;
}

.hero-highlight {
    font-size: 3rem;
}

.hero-paragraph {
    font-size: var(--size-3);
    font-weight: 500;
    margin-left: auto;
    padding: 2rem 0 3rem;
    width: 65rem;
}

.hero-title {
    margin-bottom: var(--size-3);
    text-transform: capitalize;
    white-space: nowrap;
}

@media screen and (max-width: 767px) {
    .hero-content {
        padding-right: 2rem;
    }

    .hero-paragraph {
        font-size: var(--size-2);
        width: auto;
    }

    .hero-title {
        font-size: 7rem;
    }

    .hero-highlight {
        font-size: var(--size-2);
    }
}

/* About section */

.about-wrapper {
    padding: 15rem 4rem;
}

.about-title {
    font-size: var(--size-6);
    line-height: 1.1;
}

.about-title span:nth-child(even) {
    font-size: 9rem;
    display: block;
}

.about-paragraph {
    font-size: var(--size-4);
    text-transform: lowercase;
    width: 90rem;
}

.about-paragraph span {
    text-transform: uppercase;
}

.about-paragraph:first-child {
    margin-bottom: 3rem;
}

.about-paragraph-cap {
    font-size: var(--size-6);
    text-transform: uppercase;
}

.button-about {
    font-size: 3rem;
}

/* Products highlight */

.products-highlight-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: var(--size-4);
}

@media screen and (max-width: 767px) {
    .products-highlight-wrapper {
        grid-template-columns: 1fr;
    }

    .about-wrapper {
        align-items: flex-start;
        flex-direction: column;
        padding: 8rem 2rem;
    }

    .about-paragraph-wrapper {
        margin-top: 4rem;
    }

    .about-paragraph {
        font-size: var(--size-2);
        width: auto;
    }

    .about-title {
        font-size: var(--size-4);
    }

    .about-title span:nth-child(even) {
        font-size: 6rem;
    }
}

/* Information */

.information-wrapper {
    /* background-image: url('../assets/images/fondo-textura-papel-arrugado-blanco.jpg');
    background-repeat: no-repeat;
    background-size: contain; */
    padding: 8rem;
}

.information-wrapper-image {
    border-radius: 50%;
    height: 80rem;
    overflow: hidden;
    width: 80rem;
}

/* Highlight */

.highlight-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.highlight-wrapper-images:hover {
    position: relative;
}

.highlight-image-down {
    height: 90rem;
}

.highlight-image-up {
    bottom: 50%;
    height: 60rem;
    position: absolute;
    right: 50%;
    transform: translate(50%, 50%);
    width: 45rem;
}

.highlight-content {
    padding: var(--size-4);
}

.highlight-content-paragraph {
    font-size: 8rem;
}

@media screen and (max-width: 767px) {
    .highlight-wrapper {
        grid-template-columns: 1fr;
    }

    .highlight-content-paragraph {
        font-size: var(--size-4);
    }
}

/* Products y cart */

.hero-products {
    padding: 20rem 4rem 10rem;
}

.hero-sub {
    border-bottom: 1px solid var(--color-black);
    font-size: var(--size-3);
    font-weight: 300;
    padding: 4rem 0;
}

.gallery-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 8rem 3rem;
    padding: 4rem;
}

.gallery-item-heading {
    font-size: 3rem;
    padding-bottom: 3rem;
}

.gallery-item-description {
    border-bottom: .1rem solid var(--color-primary);
    font-size: 1.8rem;
    padding: 2rem 0;
}

.gallery-item-description h3 {
    font-weight: 400;
}

.gallery-item-image {
    cursor: pointer;
}

/* Detail */

.detail-template-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.detail-image-wrapper {
    height: 100vh;
}

.detail-content {
    font-size: var(--size-3);
    margin: auto;
    padding: 4rem;
}

.detail-content-wrapper {
    align-items: start;
}

.detail-title h2 {
    margin-bottom: 4rem;
}

.detail-price {
    font-weight: 500;
}

.detail-description {
    margin: 4rem 0;
    line-height: 1.2;
}

.buttons {
    border-bottom: 1px solid var(--color-black);
    padding-bottom: 4rem;
}

.detail-close {
    position: absolute;
    left: 4rem;
    top: 10rem;
}

/* Cart */

#cart {
    height: 60vh;
    overflow: scroll;
}

.cart-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--color-white);
    height: auto;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.75s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
    transition: max-height 0.75s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
    z-index: 101;
    width: 80rem;
}

.cart-wrapper.open {
    max-height: 100%;
    -webkit-transition: max-height 0.75s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
    transition: max-height 0.75s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
}

.cart-header,
.cart-footer {
    padding: var(--size-4);
}

.cart-template-wrapper {
    display: flex;
    gap: 4rem;
    padding: 2rem 4rem 4rem;
}

.cart-content-wrapper {
    width: 100%;
}

.cart-amount {
    background-color: var(--color-primary);
    border-radius: 50%;
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: 600;
    height: 3rem;
    position: absolute;
    right: -2.5rem;
    top: -1rem;
    width: 3rem;
}

.cart-image-wrapper {
    height: 20rem;
    width: 25rem;
}

.cart-footer button {
    width: 100%;
}

.cart-footer-info {
    border-top: 1px solid var(--color-black);
    padding: 3rem 0;
}

.cart-footer-info p {
    font-weight: 500;
}

.cart-buttons {
    align-items: center;
    display: flex;
    gap: 3rem;
    padding: 3rem 0;
}

/* */

.not-result {
    padding: 2rem 4rem 8rem;
}

.not-result p {
    margin-bottom: 4rem;
    line-height: 1.2;
}

.btn-close-cart {
    cursor: pointer;
    font-size: var(--size-4);
    text-align: end;
}

.btn-close {
    font-size: var(--size-4);
}

/* Helpers */

.show {
    opacity: 1;
    visibility: visible;
}

.hide {
    display: none;
}

@media screen and (min-width: 575px) {
    .gallery-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .gallery-wrapper {
        grid-template-columns: .8fr 1.1fr .8fr 1fr;
        grid-template-rows: repeat(4, 50rem);
        grid-gap: 25rem 5rem;
    }

    .gallery-item:nth-child(2) {
	    grid-column: 2/4;
        grid-row: 1;
    }

    .gallery-item:nth-child(4) {
	    grid-row: 2/4;
        grid-column: 1/3;
    }

    .gallery-item:last-child {
        grid-row: 2;
        grid-column: 3/5;
    }

    .gallery-item-image {
        height: 100%;
    }
}

/* Footer */

.footer-wrapper {
    padding: var(--size-4);
}

.footer-contact {
    margin: 15rem 0;
}

.footer-social {
    margin-right: 20rem;
}

.footer-go {
    padding-right: 5rem;
}

@media screen and (max-width: 767px) {
    .footer-wrapper {
        padding: var(--size-2);
    }

    .footer-social {
        display: none;
    }
}

/* preloader */

.preloader {
    background-color: var(--color-primary);
    height: 100%;
    position: absolute;
    top: 0;
    transform: translateX(0%);
    transition: transform 1s ease-in-out;
    width: 100%;
    z-index: 99;
}

.preloader-number {
    bottom: 5rem;
    position: absolute;
    right: 5rem;
}

.preloader-symbol {
    font-family: initial;
    font-size: 15rem;
    margin-left: -2rem;
}

.preloader.preloader-close {
    transform: translateX(100%);
}

.preloader-open {
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .preloader-number {
        bottom: 1rem;
        font-size: 20rem;
        right: 1rem;
    }
    
}

/* buttons */

.button-center {
    display: flex;
    justify-content: center;
    margin: 12rem auto;
}

.btn {
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
}

.btn-xs {
    font-size: var(--size-2);
    padding: 2rem;
}

.btn-lg {
    font-size: var(--size-2);
    padding: 2rem 7rem;
}

.button-primary::after {
    background-color: currentColor;
    bottom: 0;
    content: '';
    height: .2rem;
    left: 0;
    position: absolute;
    transition: transform 0.7s ease-in-out;
    width: 100%;

    transform: scaleX(1);
    transform-origin: left center;
}

.button-primary:hover::after {
    transform: scaleX(0);
    transform-origin: right center;
}

/**/

.button-secondary {
    background-color: var(--color-black);
    border: 1.5px solid transparent;
    border-radius: .7rem;
    color: var(--color-white);
    transition: background-color .3s ease-in-out;
}

.button-secondary:hover {
    background-color: transparent;
    border: 1.5px solid var(--color-black);
    color: var(--color-black);
}

.button-tertiary {
    background-color: transparent;
    border: 1.5px solid var(--color-black);
    border-radius: .7rem;
    color: var(--color-black);
    transition: background-color .3s ease-in-out;
}

.button-tertiary:hover {
    background-color: var(--color-black);
    border: 1.5px solid var(--color-black);
    color: var(--color-white);
}

/**/

.button-circle {
    align-items: center;
    display: flex;
    font-size: 3.5rem;
    justify-content: center;
    height: 30rem;
    width: 30rem;
}

.button-circle:hover .progress {
    transform: scale3d(1.2, 1.2, 1);
}

.progress {
    position: absolute;
    width: 30rem;
    height: 30rem;
    top: 0;
    left: 0;
    transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.progress__circle, .progress__path {
    fill: none;
    stroke: #a6a6a643;
    stroke-width: 0.4px;
}

.progress__path {
    stroke: black;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: stroke-dashoffset 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.button-circle:hover .progress__path {
    stroke-dashoffset: 0;
}